<p id="notice"><%= notice %></p>

<p>
  <b>Primer nombre:</b>
  <%= @employee.first_name %>
</p>

<p>
  <b>Primer apellido:</b>
  <%= @employee.first_last_name %>
</p>

<p>
  <b>No. de Cédula:</b>
  <%= @employee.unique_id %>
</p>

<p>
  <b>Tipo de Empleado:</b>
  <%= @employee.employee_type %>
</p>

<p>
  <b>Fecha de Nacimiento:</b>
  <%= @employee.date_of_birth %>
</p>

<%= link_to 'Inasistencias', employee_absences_path(@employee) %> | 
<%= link_to 'Editar', edit_employee_path(@employee) %> |
<%= link_to 'Regresar', employees_path %>
