<%= form_for [@schedule.period, @schedule, @schedule_block] do |f| %>

  <%= render "shared/error_messages", :target => @schedule_block %>

  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time, :minute_step => 5 %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.time_select :end_time, :minute_step => 5 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
