<%= render 'left_menu' %>

<div class="grid_9">

  <div class="box">

    <h2>
      <a href="#" id="toggle-paragraphs">Datos del Bloque de Horario</a>
    </h2>
    <div class="block" id="paragraphs">

      <p id="notice"><%= notice %></p>

      <p>
      <b>Start time:</b>
      <%= @schedule_block.start_time %>
      </p>

      <p>
      <b>End time:</b>
      <%= @schedule_block.end_time %>
      </p>

      <p>
      <b>Schedule:</b>
      <%= @schedule_block.schedule_id %>
      </p>

    </div>

  </div>

</div>
