<%= render 'left_menu' %>

<div class="grid_9">


  <div class="box">
<h1>Períodos Escolares</h1>


    <div class="block">

<table>
  <tr>
    <th>Nombre</th>
    <th>Código</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period.name %></td>
    <td><%= period.code %></td>
    <td><%= link_to 'Ver', period %></td>
    <td><%= link_to 'Editar', edit_period_path(period) %></td>
    <td><%= link_to 'Eliminar', period, confirm: '¿Está seguro que desea eliminar este período escolar?', method: :delete %></td>
  </tr>
<% end %>
</table>

    </div>

  </div>


<br />

</div>
