<h1>Períodos Escolares</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Código</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period.name %></td>
    <td><%= period.code %></td>
    <td><%= link_to 'Ver', period %></td>
    <td><%= link_to 'Editar', edit_period_path(period) %></td>
    <td><%= link_to 'Eliminar', period, confirm: '¿Está seguro que desea eliminar este período escolar?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Período', new_period_path %>
