<%= render 'left_menu' %>

<div class="grid_9">

  <div class="box">

    <h2>
      <a href="#" id="toggle-paragraphs">Datos del Período Escolar</a>
    </h2>
    <div class="block" id="paragraphs">


      <p id="notice"><%= notice %></p>

      <p>
      <b>Nombre:</b>
      <%= @period.name %>
      </p>

      <p>
      <b>Código:</b>
      <%= @period.code %>
      </p>

      <p>
      <b>Fecha Inicial:</b>
      <%= @period.start_date %>
      </p>

      <p>
      <b>Fecha Final:</b>
      <%= @period.end_date %>
      </p>

      <h3><%= 'Horarios' if @period.schedules.any? %> </h3>
      <% @period.schedules.each do |schedule| %>
        <li><%= link_to schedule.name, [@period, schedule] %></li>
      <% end %>

    </div>
  </div>
</div>

<br>
