<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @period.name %>
</p>

<p>
  <b>Code:</b>
  <%= @period.code %>
</p>


<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
