<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @period.name %>
</p>

<p>
  <b>Código:</b>
  <%= @period.code %>
</p>

<h3><%= 'Horarios' if @period.schedules.any? %> </h3>
<% @period.schedules.each do |schedule| %>
  <li><%= link_to schedule.name, [@period, schedule] %></li>
<% end %>

<br>

<%= link_to 'Editar', edit_period_path(@period) %> |
<%= link_to 'Regresar', periods_path %>
