<div class="box">
  <h2>
    <a href="#" id="toggle-forms">Formulario de <%= if @schedule.new_record? then "Creación" else "Edición" end %></a>
  </h2>

  <div class="block" id="forms">

    <%= form_for [@period, @schedule] do |f| %>

      <%= render "shared/error_messages", :target => @schedule %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :code %><br />
        <%= f.text_field :code %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

  </div>

</div>
