<h1>Horarios</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Código</th>
    <th>Período Escolar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.name %></td>
    <td><%= schedule.code %></td>
    <td><%= schedule.period_id %></td>
    <td><%= link_to 'Ver', [schedule.period, schedule] %></td>
    <td><%= link_to 'Editar', edit_period_schedule_path(schedule.period, schedule) %></td>
    <td><%= link_to 'Eliminar', [schedule.period, schedule], confirm: '¿Está seguro que desea eliminar este horario?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Horario', new_period_schedule_path(@period) %>
