<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @schedule.name %>
</p>

<p>
  <b>Código:</b>
  <%= @schedule.code %>
</p>

<p>
  <b>Período:</b>
  <%= @schedule.period.name %>
</p>


<%= link_to 'Editar', edit_period_schedule_path(@schedule.period, @schedule) %> |
<%= link_to 'Regresar', period_schedules_path(@schedule.period) %>
