<div class="box">
  <h2>
    <a href="#" id="toggle-forms">Formulario de <%= if @absence.new_record? then "Creación" else "Edición" end %></a>
  </h2>

  <div class="block" id="forms">


    <%= form_for [@employee, @absence] do |f| %>

      <%= render "shared/error_messages", :target => @absence %>

      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_field :description %>
      </div>
      <div class="field">
        <%= label_tag :period, "Período Escolar" %><br />
        <%= select_tag :period, options_from_collection_for_select(Period.all, "id", "name") %>
      </div>


      <div id="period_work_dates_select">
        <%= render 'periods/dates', :work_dates => @work_dates, :schedules => @schedules, :schedule => @schedules.first %>
      </div>


  <div class="actions">
    <%= submit_tag "Guardar Inasistencia" %>
  </div>

<% end %>


  </div>
</div>
