<div class="box">
  <h2>
    <a href="#" id="toggle-forms">Formulario de <%= if @absence.new_record? then "Creación" else "Edición" end %></a>
  </h2>

  <div class="block" id="forms">


    <%= form_for [@employee, @absence] do |f| %>

      <%= render "shared/error_messages", :target => @absence %>

      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_field :description %>
      </div>
      <div class="field">
        <%= label_tag :period, "Período Escolar" %><br />
        <%= select_tag :period, options_from_collection_for_select(Period.all, "id", "name") %>
      </div>


      <div id="period_work_dates_select">
        <%= render 'periods/dates', :work_dates => @work_dates, :schedules => @schedules, :schedule => @schedules.first %>
      </div>


      <script type="text/javascript" charset="utf-8">
        jQuery('#period').change(function(){
            var period_id = jQuery(this).find('option:selected').val();
            jQuery.get('/periods/' + period_id + '/dates', function(data){
              jQuery("#absence_work_date").html(data);
              });
            return false;

            });


jQuery('#period_schedules_select').change(function(){
    var schedule_id = jQuery(this).find('option:selected').val();
    jQuery.get('/schedules/' + schedule_id + '/schedule_blocks', function(data){
      jQuery("#period_schedules_schedule_blocks_checkboxes").html(data);
      });
    return false;

    });

  </script>



  <div class="actions">
    <%= submit_tag "Guardar Inasistencia" %>
  </div>

<% end %>


  </div>
</div>
