<h1>Listing absences</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Employee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @absences.each do |absence| %>
  <tr>
    <td><%= absence.description %></td>
    <td><%= absence.employee_id %></td>
    <td><%= link_to 'Show', absence %></td>
    <td><%= link_to 'Edit', edit_absence_path(absence) %></td>
    <td><%= link_to 'Destroy', absence, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Absence', new_absence_path %>
