<h1>Inasistencias de <%= @employee.full_name %></h1>

<table>
  <tr>
    <th>Descripción</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @absences.each do |absence| %>
  <tr>
    <td><%= absence.description %></td>
    <td><%= absence.date %></td>
    <td><%= link_to 'Ver Datos', absence %></td>
    <td><%= link_to 'Editar', edit_employee_absence_path(@employee, absence) %></td>
    <td><%= link_to 'Eliminar', absence, confirm: '¿Está seguro de que desea eliminar esta inasistencia?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Inasistencia', new_employee_absence_path(@employee) %>
