<%= render 'employees/left_menu' %>

<div class="grid_9">

  <div class="box">

    <h1>Inasistencias de <%= @employee.full_name %></h1>

    <div class="block">
      <table>
        <tr>
          <th>Descripción</th>
          <th>Fecha</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @absences.each do |absence| %>
          <tr>
            <td><%= absence.description %></td>
            <td><%= absence.work_date.work_date %></td>
            <td><%= link_to 'Ver Datos', [@employee, absence] %></td>
            <td><%= link_to 'Editar', edit_employee_absence_path(@employee, absence) %></td>
            <td><%= link_to 'Eliminar', [@employee, absence], confirm: '¿Está seguro de que desea eliminar esta inasistencia?', method: :delete %></td>
            
            <% if absence.justification %>
              <td><%= link_to "Ver Justificación #{if absence.justification.is_justified then "válida" else "inválida" end}", [@employee, absence, absence.justification] %></td>
            <% else %>
              <td><%= link_to 'Justificar', new_employee_absence_justification_path(@employee, absence) %></td>
            <% end %>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>

