<%= render 'employees/left_menu' %>

<div class="grid_9">

  <div class="box">

    <h2>
      <a href="#" id="toggle-paragraphs">Datos de la Inasistencia del Empleado <%= @employee.full_name %></a>
    </h2>
    <div class="block" id="paragraphs">

      <p id="notice"><%= notice %></p>

      <p>
      <b>Descripción:</b>
      <%= @absence.description %>
      </p>
      
      <p>
      <b>Fecha:</b>
      <%= @absence.work_date.date %>
      </p>

      <p>
      <b>Bloques de Horario:</b>
      <% @absence.schedule_blocks.each do |sb| %>
        <li>
          <%= sb.time_range %>
        </li> 
      <% end %> 
      </p>


    </div>
  </div>
</div>
