<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Asistomatic</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container_12">
    <div class="grid_12">
      <h1 id="branding">
        <%= link_to "ASISTOMATIC", root_url %>
      </h1>
    </div>
    <div class="clear"></div>
    <div class="grid_12">
      <ul class="nav main">
        <li>
        <%= link_to "Inicio", root_url  %>
        </li>
        <li>
        <%= link_to "Empleados", employees_path %>
        <ul>
          <li>
          <%= link_to "Agregar Empleado", new_employee_path %>
          </li>
        </ul>
        </li>
        <li>
        <%= link_to "Períodos", periods_path %>
        <ul>
          <li>
          <%= link_to "Agregar Periodo", new_period_path %>
          </li>
        </ul>
        </li>
        <li class="secondary">
        <% if user_signed_in? %>
          <%= link_to "Usuario #{current_user.username}. Desloguearse", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Loguearse", new_user_session_path %>
        <% end %>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
    <br>
    <%= yield %>
    <br>
    <div class="clear"></div>
    <div class="grid_12" id="site_info">
      <div class="box">
        <p>E.T.C.R.D Sistema de Asistencias de Juan España</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</body>
</html>
