<div class="box">
  <h2>
    <a href="#" id="toggle-forms">Formulario de <%= if @justification.new_record? then "Creación" else "Edición" end %></a>
  </h2>

  <div class="block" id="forms">

    <%= form_for([@employee, @absence, @justification]) do |f| %>

      <%= render "shared/error_messages", :target => @employee %>

      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </div>
      <div class="field">
        <%= f.label :is_justified %><br />
        <%= f.check_box :is_justified %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

  </div>
</div>
